.flex-container {
  display: flex;
  gap: 10px;
}

.queue-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 30px;
  background-color: rgba(230, 230, 9, 0.664);
}

.watched-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 30px;
  background-color: rgba(230, 230, 9, 0.664);
}

.movie-card {
  width: 100px;
  height: 150px;

  border-radius: 10px;

  background-color: aqua;
}
